<h1>Listing user_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_categories.each do |user_category| %>
  <tr>
    <td><%= user_category.name %></td>
    <td><%= user_category.user_id %></td>
    <% if !user_category.parent.nil? %>
      <td><%= user_category.parent.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= link_to 'Edit', edit_user_category_path(user_category) %></td>
    <td><%= link_to 'Destroy', user_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User category', new_user_category_path %>
