<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.username %>
</p>

<p>
  <b>Source:</b>
  <%= @snop.source %>
</p>

<p>
  <b>Title:</b>
  <%= @snop.title %>
</p>

<p>
  <b>Point1:</b>
  <%= @snop.point1 %>
</p>

<p>
  <b>Point2:</b>
  <%= @snop.point2 %>
</p>

<p>
  <b>Point3:</b>
  <%= @snop.point3 %>
</p>

<p>
  <b>Summary:</b>
  <%= @snop.summary %>
</p>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div> 
<br>

<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="snopsize">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>

<%= link_to 'Back', snops_path %>
