<h1>Search#search</h1>
<p>Find me in app/views/search/search.html.erb</p>

<%# show a search form always %>
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%# set the name to 'nil' to avoid the commit = Search parameter from being passed %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<%# show any results... %>
<% if @results %>
	<% @results.each do |result| %>
	<%= result %>
	<% end %>
<% end %>

<%#= debug params %>