<%# Show results for various searches... %>
<%# NOTE: They should have been redirected before getting here for URL searches, so there should never be any results here %>
<% case params[:type] %>
<%# URI %>
<% when 'url' %>
	<%= content_tag :h2, (@results ? @results.size.to_s : '0') + ' URL Results found', class: 'subtitle' %>
	<%# If they put in a crazy URI that didn't parse, we don't want to give them to option to snop about it %>
  <div class="container">
	<% if @uri %>
	  	<%= content_tag :h2 do %>
				<%= link_to "Be the first to snop about " + @uri, new_snop_path(uri: @uri) %>
			<% end %>
	<% end %>
  </div>
<% when 'user' %>
	<%= content_tag :h2, (@results ? @results.size.to_s : '0') + ' User Results found', class: 'subtitle' %>
	<div class="container">
 		<%= render :partial => 'shared/userquick', :collection => @results %>
 	</div>
<% else %>
  <%= render partial: 'shared/common', locals: { snop_list: @snops, current_snop: @snops.first, data_source: search_path(q: params[:q], type: params[:type]), title: @snops.size.to_s + ' Keyword Results found' } %>
<% end %>