<%# show a search form always %>
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%# set the name to 'nil' to avoid the commit = Search parameter from being passed %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<%# show any results... %>
<% if @results %>
	<% @results.each do |result| %>
		<div>
			<%= result.title %><br/>
			<%= result.point1 %><br/>
			<%= result.point2 %><br/>
			<%= result.point3 %><br/>
			<%= result.summary %><br/>
			<hr/>
		</div>
	<% end %>
<% end %>

<%#= debug params %>