<%# show a search form always %>
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= select_tag(:type, options_for_select([['Keyword', 'keyword'], ['URL', 'url'], ['User', 'user']], params[:type])) %>
  <%= text_field_tag(:q) %>
  <%# set the name to 'nil' to avoid the commit = Search parameter from being passed %>
  <%= submit_tag("Search", :name => nil) %>
<% end %></br>

<%# show any keyword results... %>
<% if @results %>
	<% case params[:type] %>
	<% when 'url' %>
	  <%= @results.size %> URL Results found</br></br>
    <%= link_to "Be the first to snop about " + @uri.to_s, new_snop_path(uri: @uri) %>
	<% when 'user' %>
	  <%= @results.size %> User Results found</br></br>
	  <%= render :partial => 'shared/userquick', :collection => @results %>
	<% else %>
	 	<%= @results.size %> Keyword Results found</br></br>

    <% if @results %>
      <div id="snops_list_view">
        <%= render partial: 'shared/snop_list_view', locals: {data_source: search_path(q: params[:q], format: "json")} %>
      </div>
      <div id="snops_browse_view">
        <%= render partial: 'shared/snop_browse', locals: {current_snop: @results.first, snop_list: @results, next_path: search_path(q: params[:q], type: params[:type], snops: @results, snop: snop_get_next_in_list(@results.first, @results), direction: 'next', browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), prev_path: search_path(q: params[:q], type: params[:type], snops: @results, snop: snop_get_prev_in_list(@results.first, @results), direction: 'prev', browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0]), close_path: search_path} %>
      </div>
    <% end %>
	<% end %>
<% end %>

<%#= debug params %>