<h3>Uncategorized Snops</h3>
<% get_uncategorized_snops_for_user(user).each do |snop| %>
  <%= link_to snop.title, user_path(id: user.id, snop: snop), remote: true %></br>
  <% if auth_signed_in? && user == current_auth %>
    <%= link_to 'Categorize', user_categories_add_snop_path(snop: snop) %>

    <%# Only let us delete our own snops %>
    <%= link_to 'Delete', snop, :data => { :confirm => 'Are you sure?' }, remote: true, method: :delete if user == snop.user %>
    <hr/>
  <% end %>
<% end %>
<br/>

<h3>Categorized Snops</h3>
<% recurse_categorized_snops(get_root_categories_for_user(user)) do |snops, category| %>
  <h4><%= link_to category.name, edit_user_category_path(category) %></h4>
  <% snops.each do |snop| %>
    <%= link_to snop.title, user_path(id: user.id, snop: snop), remote: true %></br>
    <% if auth_signed_in? && user == current_auth %>
      <%= link_to 'Change Category', user_categories_add_snop_path(snop: snop) %>
    
      <%# Only let us delete our own snops %>
      <%= link_to 'Delete', snop, :data => { :confirm => 'Are you sure?' }, remote: true, method: :delete if user == snop.user %>
      <hr/>
    <% end %>
  <% end %>
<% end %>