<%= render partial: 'shared/common', locals: { snop_list: @snops, current_snop: @snops.first, data_source: user_path(id: @user.id), title: 'Snops from ' + @user.username } %>

<%
=begin %>
<% if user_signed_in? && @user == current_user %>

<%# Mass snop editing %>
<% if user_signed_in? && @user == current_user %>
  <div class="snops_list_view">
    <button id="DeleteButton" type="button" disabled="disabled" title="Deletes snops.">Delete</button>

    <%= select_tag "CategoriesSelect", "<option value=\"Select Category\">Select Category</option><option value=\"\">Uncategorized</option>".html_safe + options_from_collection_for_select(current_user.user_categories, :id, :name), disabled: true %>
  </div>
<% end %>

  <div id='editing'>
    <%= link_to 'Categories', user_categories_path %> | 
    <%= link_to 'New Snop', new_snop_path %> | 
    <%= link_to 'Settings', edit_user_registration_path(@user) %>
  </div>
<% end %>
<%
=end %>
  
