<h1>User: <%=@user.username%> </h1>

<h2>Categories</h2>
<div id="editing">
  <%= link_to 'Add Category', new_user_category_path %> | 
  <%= link_to 'View Categories', user_categories_path %>
</div>

<h3>Uncategorized Snops</h3>
<%= render :partial => "shared/snopquick", :collection => @uncategorized_snops %>
<br/>

<h3>Categorized Snops</h3>
<% recurse_categorized_snops(@root_categories) do |snops, title| %>
  <h4><%= title %><h4>
  <%= render :partial => "shared/snopquick", :collection => snops %>
<% end %>
