<h1>User: <%=@user.username%> </h1>

<!-- We're only going to show these buttons if the user 
     singed in and on their own page -->
<% if user_signed_in? && @user == current_user %>
  <div id='editing'>
    <%= link_to 'Add Category', new_user_category_path %> | 
    <%= link_to 'New Snop', new_snop_path %>
  </div>
<% end %>

<%# A list of snops is shown in the left column %>
<div id="left_column">
  <h3>Uncategorized Snops</h3>
  <% @uncategorized_snops.each do |snop| %>
    <%= link_to snop.title, user_path(user: current_user, snop: snop), remote: true %></br>
    <% if user_signed_in? && @user == current_user %>
      <%= link_to 'Categorize', user_categories_add_snop_path(snop: snop) %>

      <%# Only let us delete our own snops %>
      <%= link_to 'Delete', snop, :data => { :confirm => 'Are you sure?' }, method: :delete if @user == snop.user %>

      <hr/>
    <% end %>
  <% end %>
  <br/>

  <h3>Categorized Snops</h3>
  <% recurse_categorized_snops(@root_categories) do |snops, category| %>
    <h4><%= link_to category.name, edit_user_category_path(category) %></h4>
    <% snops.each do |snop| %>
      <%= link_to snop.title, user_path(user: current_user, snop: snop), remote: true %></br>
      <% if user_signed_in? && @user == current_user %>
        <%= link_to 'Change Category', user_categories_add_snop_path(snop: snop) %>
    
        <%# Only let us delete our own snops %>
        <%= link_to 'Delete', snop, :data => { :confirm => 'Are you sure?' }, method: :delete if @user == snop.user %>
        
        <hr/>
      <% end %>
    <% end %>
  <% end %>
</div>
  
<%# A single snop is shown in the right column %>
<div id="right_column">
  <div id="buttons">
    <div id="prev_button">
      <%= button_to "<", user_path(user: current_user, snop: @prev, direction: "prev"), remote: true, disabled: @prev.nil?, method: :get %>
    </div>
    <div id="next_button">
      <%= button_to ">", user_path(user: current_user, snop: @next, direction: "next"), remote: true, disabled: @next.nil?, method: :get %>
    </div>
  </div>
  <div id="snop_container">
    <div id="snop">
      <%= render :partial => "shared/snopfull" %>
    </div>
  </div>
</div>
