<h1>User: <%=@user.username%> </h1>

<%# We're only going to show these buttons if the user singed in and on their own page %>
<% if user_signed_in? && @user == current_user %>
  <div id='editing'>
    <%= link_to 'Categories', user_categories_path %> | 
    <%= link_to 'New Snop', new_snop_path %> | 
    <%= link_to 'Settings', edit_user_registration_path(@user) %>
  </div>
<% end %>
  
<%# Snop View %>
<%= render partial: 'shared/snop_all_views', locals: {data_source: user_path(format: "json", iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0], sSearch: params[:sSearch]), list_view_path: user_path, browse_view_path: user_path(id: @user.id, snop: @snops.first, browse_view: true, iSortCol_0: params[:iSortCol_0], sSortDir_0: params[:sSortDir_0], sSearch: params[:sSearch])} %>   

<%# Mass snop editing %>
<% if user_signed_in? && @user == current_user %>
  <button id="DeleteButton" type="button" disabled="disabled" title="Deletes snops.">Delete</button>

  <select id="CategoriesSelect" disabled="disabled">
    <%= options_from_collection_for_select(current_user.user_categories, :id, :name) %>
  </select>
<% end %>