<h1>User: <%=@user.username%> </h1>

<!-- We're only going to show these buttons if the user 
     singed in and on their own page -->
<% if user_signed_in? && @user == current_user %>
  <div id="editing">
    <%= link_to 'Add Category', new_user_category_path %> | 
    <%= link_to 'New Snop', new_snop_path %>
  </div>
<% end %>

<h3>Uncategorized Snops</h3>
<% @uncategorized_snops.each do |snop| %>
	<%= render :partial => "shared/snopquick", :locals => {:snopquick => snop} %>
  <% if user_signed_in? && @user == current_user %>
	  <%= link_to "Categorize", user_categories_add_snop_path(snop: snop) %>
  <% end %>
	<hr/>
<% end %>
<br/>

<h3>Categorized Snops</h3>
<% recurse_categorized_snops(@root_categories) do |snops, category| %>
  <h4><%= link_to category.name, edit_user_category_path(category) %></h4>
  <% snops.each do |snop| %>
  	<%= render :partial => "shared/snopquick", :locals => {:snopquick => snop} %>
    <% if user_signed_in? && @user == current_user %>
	    <%= link_to "Change Category", user_categories_add_snop_path(snop: snop) %>
    <% end %>
  	<hr/>
  <% end %>
<% end %>
