<h1>User: <%=@user.username%> </h1>

<h2>Created Snops</h2>

<table>
  <tr>
    <th>Domain</th>
    <th>Resource</th>
    <th>Title</th>
    <th>Point1</th>
    <th>Point2</th>
    <th>Point3</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_snops.each do |snop| %>
  <tr>
    <td><%= snop.domain %></td>
    <td><%= snop.resource %></td>
    <td><%= snop.title %></td>
    <td><%= snop.point1 %></td>
    <td><%= snop.point2 %></td>
    <td><%= snop.point3 %></td>
    <td><%= snop.summary %></td>
    <td><%= link_to 'Show', snop %></td>
    <td><%= link_to 'Delete', snop, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Fave Snops</h2>

<%= render :partial => "shared/snopquick", :collection => @fave_snops %>
</table>
