<h1>User: <%=@user.username%> </h1>

<!-- We're only going to show these buttons if the user 
     singed in and on their own page -->
<% if user_signed_in? && @user == current_user %>
  <div id='editing'>
    <%= link_to 'Add Category', new_user_category_path %> | 
    <%= link_to 'New Snop', new_snop_path %>
  </div>
<% end %>

<%# A list of categories is shown in the left column %>
<div id="left_column">
  <%= render partial: "users/categories_view", locals: {user: @user} %>
</div>
  
<%# A single snop is shown in the right column, with the ability to browse %>
<div id="right_column">
  <% if @snop %>
    <%= render partial: "shared/snop_browse", locals: {current_snop: @snop, snop_list: @all_snops, prev_button_path: user_path(user: @user, snop: snop_get_prev_in_list(@snop, @all_snops), direction: "prev"), next_button_path: user_path(user: @user, snop: snop_get_next_in_list(@snop, @all_snops), direction: "next")} %>
  <% else %>
    You don't have any snops yet!
    <%= link_to 'Create your first snop!', new_snop_path %>
  <% end %>
</div>
