<h1>User: <%=@user.username%> </h1>

<h2>Categories</h2>
<div id="editing">
  <%= link_to 'Add Category', new_user_category_path %> | 
  <%= link_to 'New Snop', new_snop_path %>
</div>

<h3>Uncategorized Snops</h3>
<% @uncategorized_snops.each do |snop| %>
	<%= render :partial => "shared/snopquick", :locals => {:snopquick => snop} %>
	<%= link_to "Categorize", user_categories_add_snop_path(snop: snop) %>
	<hr/>
<% end %>
<br/>

<h3>Categorized Snops</h3>
<% recurse_categorized_snops(@root_categories) do |snops, category| %>
  <h4><%= link_to category.name, edit_user_category_path(category) %></h4>
  <% snops.each do |snop| %>
  	<%= render :partial => "shared/snopquick", :locals => {:snopquick => snop} %>
	<%= link_to "Change Category", user_categories_add_snop_path(snop: snop) %>
  	<hr/>
  <% end %>
<% end %>
