<h1>User: <%=@user.username%> </h1>

<!-- We're only going to show these buttons if the user 
     singed in and on their own page -->
<% if user_signed_in? && @user == current_user %>
  <div id='editing'>
    <%= link_to 'Categories', user_categories_path %> | 
    <%= link_to 'New Snop', new_snop_path %> | 
    <%= link_to 'Settings', edit_user_registration_path(@user) %>
  </div>
<% end %>
  
<%# A single snop is shown in the right column, with the ability to browse %>
<% if @snops %>
  <div id="snops_list_view">
    <%= render partial: 'shared/snop_list_view', locals: {data_source: user_path(format: "json")} %>
    <% if @user == current_user %>
      <button id="RemoveButton", type="button", disabled="disabled", title="Deletes your snops, unfaves other users snops.">Remove</button>
    <% end %>
    View: <%= link_to "All Snops", @user, id: "all_snops_link", remote: true %> | <%= link_to "Created Snops", user_path(id: @user.id, created_only: true), id: "created_only_link", remote: true %> | <%= link_to "Favourite Snops", user_path(id: @user.id, favourites_only: true), id: "favourites_only_link", remote: true %>
  </div>
  <div id="snops_browse_view">
    <%= render partial: 'shared/snop_browse', locals: {current_snop: @snops.first, snop_list: @snops, close_path: user_path} %>
  </div>
<% end %>
