<div class="form">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :email, class: "above"  %>
    <%= f.email_field :email, placeholder: "Enter your email address..." %>

    <%= f.submit "Send Reset Password email", class: "buttons" %><br/>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    <% end -%>
  <% end %>
</div><!--close form-->       

<% content_for :sign_up_button do %>
  <% unless user_signed_in? %>
    <div class="undernav">          
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "largebutton" %>
    </div><!--close undernav; this box is required to push the button over to line up correctly-->
  <% end %>
<% end %>