<%# Don't show these if we're not in browse view %>
<% display = params[:browse_view] == 'true' ? 'inline-block;' : 'none;' %>

<%= content_tag :div, { class: "tools short", style: 'display: ' + display } do %>
	<%# These are spans: don't remove the whitespace or it'll affect layout %>
  <% prev_dis = current_snop == snop_list.first ? " disabled" : ""; %>
  <% next_dis = current_snop == snop_list.last ? " disabled" : ""; %>
	<%= content_tag :span, nil, { class: "arrow prev" + prev_dis, id: "prev" } %><%= content_tag :span, nil, { class: "arrow next" + next_dis, id: "next" } %>

  <%# Show our flash messages %>
  <% if alert || notice %>
    <div class="flash">
      <% if alert %>
        <p id="notice"><%= alert %></p>
      <% elsif notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>
  <% end %>
<% end %>