<% display = (params[:browse_view] == 'true' ? 'block;' : 'none;') %>

<%# Only display if we're in browse view %>
<%= content_tag :div, { class: "sidenav_container flow", style: 'display: ' + display } do %>
  
  <%# Generate a side naw for each snop in the list %>
  <% snop_list.each do |snop| %>

    <% cls = (snop == current_snop) ? 'current' : 'hidden' %>

    <%= content_tag :div, { class: 'sidenav ' + cls, id: snop.id } do %>
      
      <div class="info">
        <h4>Snop created by:</h4>
        <%= link_to snop.user.username, snop.user %>
      </div><!--close info-->
      
      <% unless snop.domain.nil? || snop.resource.nil? %>
      <div class="info">
        <h4>Resource:</h4>
        <%# External link %>
        <%= link_to "Read the article", snop.domain.uri + snop.resource.uri, target: '_blank' %><br/>
        <%# Show all snops for this article %>
        <%= link_to t(:see_all_for_article), resource_path(domain_id: snop.domain.id, resource_id: snop.resource.id) %><br/>
        <%# Create a new snop about this article %>
        <%= link_to t(:snop_about_article), new_snop_path(uri: snop.domain.uri + snop.resource.uri) %>
      </div><!--close info-->
      <% end %>

      <% unless snop.domain.nil? %>
        <div class="info">
          <h4>See more Snops from:</h4>
          <%= link_to snop.domain.uri, snop.domain %>
        </div><!--close info-->
      <% end %>

      <%# These only show if the user is signed in... 
      Categorize, Favourite/Unfavourite, Delete %>
      <% if user_signed_in? %>
    
        <div class="info">

          <%# Categorization %>
          <% display = (snop.user == current_user || current_user.favourites.include?(snop)) ? 'inline-block;' : 'none;' %>
          <%= content_tag :div, { id: 'categorization_' + snop.id.to_s, style: 'display: ' + display } do %>
            <h4>File under:</h4>
            <% category = snop.user_categories.where("user_id = ?", current_user.id).first %>
            <% selected = category.nil? ? nil : category.id %>
            <%= collection_select :user_category, :id, current_user.user_categories, :id, :name, { include_blank: (t :uncategorized), selected: selected}, { class: "drop", data: { remote: true, method: :post, url: url_for(:controller => "user_categories", action: "set_snop", snop: snop, only_path: true)} } %>
          <% end %>

          <%# Favourite/Unfavourite %>
          <% @fave_btn_id = "fave_" + snop.id.to_s %>
          <div id="<%= @fave_btn_id %>">
            <% if has_user_faved_snop?(snop) %>
              <%= render partial: 'shared/favourite', locals: {snop: snop} %>
            <% else %>
              <%= render partial: 'shared/unfavourite', locals: {snop: snop} %>
            <% end %>
          </div>

          <%# Delete button %>
          <% if current_page?(user_path(current_user.id)) %>
            <br />
            <%= link_to "Delete", snop, method: :delete, remote: true, class: "greybutton", confirm: "Are you sure you want to delete this snop?" %>
          <% end %>

          <!--
          <br /><br />
          <a href="#" class="textbutton">Add a Category</a>
          <br /><br /><br /><br />
        
          <a href="#" class="greybutton">Rename</a>
          <a href="#" class="greybutton">Delete</a>-->

        </div>

      <% end %>

      <div class="info last">

        <%# Twitter Button %>
        <%# Note the h method for the snop content, which should escape the content to make sure it doesn't bone anything %>
        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="<%=t :snopsize_hashtag %>" data-text="<%=h get_snop_tweet_content(snop) %>" data-url="<%= snop_url(snop) %>">Tweet</a>
        
        <%# Facebook Button %>
        <div class="fb-like" data-href="<%= like_snop_url(snop) %>" data-send="false" data-width="220" data-show-faces="false" data-font="arial"></div> 

      </div><!--close info last-->   

    <% end %>
  <% end %>
<% end %>