<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= link_to @snop.user.username, @snop.user %>
</p>

<p>
  <b>Domain:</b>
  <% unless @snop.domain.nil? %>
    <%= link_to "Other posts from " + @snop.domain.uri, @snop.domain %>
  <% end %>
</p>

<p>
  <b>Resource:</b>
  <% unless @snop.domain.nil? %>
    <%= link_to "See all snops from " + @snop.domain.uri + @snop.resource.uri, @snop.resource %>
  <% end %>
</p>

<p>
  <b>Title:</b>
  <%= @snop.title %>
</p>

<p>
  <b>Point1:</b>
  <%= @snop.point1 %>
</p>

<p>
  <b>Point2:</b>
  <%= @snop.point2 %>
</p>

<p>
  <b>Point3:</b>
  <%= @snop.point3 %>
</p>

<p>
  <b>Summary:</b>
  <%= @snop.summary %>
</p>