<%# A snop browse view shows a full snop view %>
<%# current_snop = The snop to show %>
<%# snop_list = The snops to switch between %>

<%# Store the number of sonps we are going to display %>
<%= javascript_tag do %>
  num_snops = <%= snop_list.size %>
<% end %>

<div id="snop_container">
  <% snop_list.each do |snop| %>
    <% @class = (snop == current_snop) ? "current" : "hidden" %>

    <div id="<%= "snop_" + snop.id.to_s %>" class="snop <%= @class %>">
      <%= render :partial => "shared/snopfull", locals: {snop: snop} %>
    </div>
    
  <% end %>
</div>