<div>
	<%= snopquick.title %><br/>
	<%= snopquick.point1 %><br/>
	<%= snopquick.point2 %><br/>
	<%= snopquick.point3 %><br/>
	<%= snopquick.summary %><br/>
	<% link = snopquick.domain + snopquick.resource %>
	<%= link_to link, link %><br/>
	<hr/>
</div>
