<% if snopquick.deleted %>
This snop has been deleted
<% else %>
<div>
	<%= link_to snopquick.user.username, snopquick.user %> <br/>
	<%= link_to snopquick.title, snopquick %><br/>
	<% unless snopquick.domain.nil? %>
		<%= link_to snopquick.domain.uri, snopquick.domain.uri %><br/>
		<% link = snopquick.domain.uri + snopquick.resource.uri %>
		<%= link_to link, link %><br />
	<% end %>
	<%= snopquick.point1 %><br/>
	<%= snopquick.point2 %><br/>
	<%= snopquick.point3 %><br/>
	<%= snopquick.summary %><br/>
</div>
<% end %>
<hr/>
