<%# Scripts for Facebook Button %>
<% content_for :opengraph do %>
<meta property=\"og:title\" content=\"#{snop.title}\" />
<meta property=\"og:type\" content=\"article\" />
<meta property=\"og:url\" content=\"#{request.protocol + request.host}:#{request.port.to_s + request.fullpath}\" />
<meta property=\"og:site_name\" content=\"www.snopsize.com\" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# Scripts for Twitter Button %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>

<%# A snop browse view shows a full snop view along with buttons to switch between them %>
<%# current_snop = The snop to show %>
<%# snop_list = The snops to switch between %>
<%= link_to "Close", close_path, remote: true %>

<div id="buttons">
  <div id="prev_button">
    <button id="prev" type="button">&lt</button>
  </div>
  
  <div id="next_button">
    <button id="next" type="button">&gt</button>
  </div>  
</div>

<div id="snop_container">
  <% snop_list.each do |snop| %>
    <% @class = "hidden_snops" %>
    <% @class = "current_snop" if snop == current_snop %>

    <div id="<%= "snop_"+snop.id.to_s %>" class="<%= @class %>">
      <%= render :partial => "shared/snopfull", locals: {snop: snop} %>

      <%# Facebook Button %>
      <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div> 

      <%# Twitter Button %>
      <%# Note the h method for the snop content, which should escape the content to make sure it doesn't bone anything %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="snopsize" data-text="<%=h get_snop_content(snop) %>">Tweet</a>

      <%# Fave/Unfave Button %>
      <% if auth_signed_in? %>
        <% @fave_btn_id = "fave_" + snop.id.to_s %>
        <div id="<%= @fave_btn_id %>">
          <% if has_user_faved_snop?(snop) %>
            <%= render partial: 'fave_snops/favourite', locals: {snop: snop} %>
          <% else %>
            <%= render partial: 'fave_snops/unfavourite', locals: {snop: snop} %>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>