<%# Scripts for Facebook Button %>
<% content_for :opengraph do %>
<meta property=\"og:title\" content=\"#{@snop.title}\" />
<meta property=\"og:type\" content=\"article\" />
<meta property=\"og:url\" content=\"#{request.protocol + request.host}:#{request.port.to_s + request.fullpath}\" />
<meta property=\"og:site_name\" content=\"www.snopsize.com\" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# Scripts for Twitter Button %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>

<p id="notice"><%= notice %></p>

<% if @snop.deleted %>
This snop has been deleted
<% else %>

<p>
  <b>User:</b>
  <%= link_to @snop.user.username, @snop.user %>
</p>

<p>
  <b>Domain:</b>
  <% unless @snop.domain.nil? %>
    <%= link_to "Other posts from " + @snop.domain.uri, @snop.domain %>
  <% end %>
</p>

<p>
  <b>Resource:</b>
  <% unless @snop.domain.nil? %>
    <%= link_to "See all snops for article " + @snop.domain.uri + @snop.resource.uri, resource_path(domain_id: @snop.domain.id, resource_id: @snop.resource.id) %>
  <% end %>
</p>

<p>
  <b>Title:</b>
  <%= @snop.title %>
</p>

<p>
  <b>Point1:</b>
  <%= @snop.point1 %>
</p>

<p>
  <b>Point2:</b>
  <%= @snop.point2 %>
</p>

<p>
  <b>Point3:</b>
  <%= @snop.point3 %>
</p>

<p>
  <b>Summary:</b>
  <%= @snop.summary %>
</p>

<% end %>

<%# Facebook Button %>
<div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div> 

<%# Twitter Button %>
<%# Note the h method for the snop content, which should escape the content to make sure it doesn't bone anything %>
<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="snopsize" data-text="<%=h get_snop_content(@snop) %>">Tweet</a>

<%# Fave/Unfave Button %>
<% if user_signed_in? %>
  <div id="fave">
    <%= has_user_faved_snop?(@snop) ? render('fave_snops/favourite') : render('fave_snops/unfavourite') %>
  </div>
<% end %>