<%# A snop full partial contains A snop view, as well as social media and the favourite button %>

<% unless snop.nil? %>

  <% if snop.deleted? %>
    This snop has been deleted
  <% else %>
    <div class="title">
      <h1><%= snop.title %></h1>
    </div>
    <div class="point one">
      <p><%= snop.point1 %></p>
    </div><!--close point-->
    <div class="point two">
      <p><%= snop.point2 %></p>
    </div><!--close point-->
    <div class="point three">
      <p><%= snop.point3 %></p>
    </div><!--close point-->
    <div class="summary">
      <p><%= snop.summary %></p>
    </div>
  <% end %>
<% end %>
