<%# A snop full partial contains A snop view, as well as social media and the favourite button %>

<% unless snop.nil? %>

  <% if snop.deleted? %>
    This snop has been deleted
  <% else %>
    <%# A link to the resouce... although 1 doesn't have to exist %>
    <% unless snop.domain.nil? %>
      <% link_text = snop.domain.uri %>
      <% link_text = link_text.sub('http://', '') %>
      <div class="resource">
        <h2><%= link_to link_text, snop.domain.uri %></h2>
      </div>
    <% end %>

    <%# A title is guaranteed... %>
    <div class="title">
      <h1><%= snop.title %></h1>
    </div>

    <%# But these points and summary aren't required, so only do the div if they exist %>
    <% unless snop.point1.nil? || snop.point1.empty? %>
      <div class="point one">
        <p><%= snop.point1 %></p>
      </div><!--close point-->
    <% end %>

    <% unless snop.point2.nil? || snop.point2.empty? %>
      <div class="point two">
        <p><%= snop.point2 %></p>
      </div><!--close point-->
    <% end %>

    <% unless snop.point3.nil? || snop.point3.empty? %>
      <div class="point three">
        <p><%= snop.point3 %></p>
      </div><!--close point-->
    <% end %>

    <% unless snop.summary.nil? || snop.summary.empty? %>
      <div class="summary">
        <p><%= snop.summary %></p>
      </div>
    <% end %>

  <% end %>
<% end %>
