<%# We set this variable for home.js.coffee to check %>
<%= javascript_tag do %>
  browseView = <%= params[:browse_view] %>
<% end %>

<%# The home page contains a sign-up button %>
<% content_for :sign_up_button do %>
  <% unless user_signed_in? %>
    <div class="undernav">          
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "largebutton" %>
    </div><!--close undernav; this box is required to push the button over to line up correctly-->
  <% end %>
<% end %>

<%# The home page also allows us to switch between the Snop flow and list view %>
<% content_for :list_flow_buttons do %>
  <li class="snopflow"><%= link_to "Snop Flow", root_path(snop: @snops.first, browse_view: true), remote: true %></li>
  <li class="listview off"><%= link_to "List View", root_path(browse_view: false), remote: true %></li>
<% end %>

<%= render template: 'search/search' %>

<%# Only show the next/prev buttons if we're in browse view %>
<% content_for :tools_short do %>
  <div class="tools short">
    <div class="nav-arrows">
      <%= content_tag :div, nil, { class: "arrow prev", id: "prev", style: "visibility:" + (params[:browse_view] == "true" ? "visible;" : "hidden;") } %>
      <%= content_tag :div, nil, { class: "arrow next", id: "next", style: "visibility:" + (params[:browse_view] == "true" ? "visible;" : "hidden;") } %>
    </div><!--close arrows-->
  </div><!--close tools short-->
<% end %>

<% content_for :sidenav do %>
  <%= render partial: 'shared/sidenav_snop_browse', locals: { snop: @snops.first } %>
<% end %>

<%= render partial: 'shared/snop_all_views', locals: {data_source: root_path(format: "json"), list_view_path: root_path, browse_view_path: root_path(snop: @snops.first, browse_view: true)} %>
