<%# The home page contains a sign-up button %>
<% content_for :sign_up_button do %>
  <% unless user_signed_in? %>
    <div class="undernav">          
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "largebutton" %>
    </div><!--close undernav; this box is required to push the button over to line up correctly-->
  <% end %>
<% end %>

<%# The search bar %>
<%= render template: 'search/search' %>

<%# Partial to switch between the Snop flow and list view %>
<%= render partial: 'shared/list_flow_buttons' %>

<%# The next/prev buttons -- need to know which snop we're on so we can disable/enable buttons %>
<%= render partial: 'shared/next_prev_buttons', locals: { current_snop: @snops.first, snop_list: @snops } %>

<%# The snop sidenav %>
<% content_for :sidenav do %>
  <%= render partial: 'shared/sidenav_snop_browse', locals: { current_snop: @snops.first, snop_list: @snops } %>
<% end %>

<%# Render both views. The partial will choose which one to show based on params[:browse_view] %>
<%= render partial: 'shared/snop_all_views', locals: {snops: @snops, data_source: root_path(format: "json")} %>
