<h2>Viewing snops for <%= @url %></h2>

<%= link_to "Snop about " + @url, new_snop_path(uri: @url)%></br></br>

<%# get all snops for this domain and resource combination %>
<% if @snops %>
  <%# A list of snops is shown in the left column %>
  <div id="left_column">
    <% @snops.each do |snop| %>
      <%= link_to snop.title, resource_path(domain_id: @resource.domain.id, resource_id: @resource.id, snop: snop), remote: true %></br>
    <% end %>
  </div>
  
  <%# A single snop is shown in the right column %>
  <div id="right_column">
    <div id="buttons">
      <div id="prev_button">
        <%= button_to "<", resource_path(domain_id: @resource.domain.id, resource_id: @resource.id, snop: @prev, direction: "prev"), remote: true, disabled: @prev.nil?, method: :get %>
      </div>
      <div id="next_button">
        <%= button_to ">", resource_path(domain_id: @resource.domain.id, resource_id: @resource.id, snop: @next, direction: "next"), remote: true, disabled: @next.nil?, method: :get %>
      </div>
    </div>
    <div id="snop">
  	  <%= render :partial => "shared/snopfull" %>
    </div>
  </div>
<% end %>
