<!DOCTYPE html>
<html>
<head>
  <title>Snopsize</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>

  <%# Our OpenGraph tags (for Facebook LIKE, etc.) %>
  <%# They have to be inside the head %>
  <%= yield :opengraph %>

</head>
<body>

  <%# This was recommended by devise %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%# Title %>
  <h1>Snopsize</h1>

  <%# User navigation at the top of the page %>
  <div id="user_nav">
  <%=link_to "Home", root_path %> | 
  <% if user_signed_in? %>
    Signed in as <%= link_to current_user.username, current_user %> 
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
  </div>

  <%# Search form %>
  <%= form_tag("/search", :method => "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= select_tag(:type, options_for_select([['Keyword', 'keyword'], ['URL', 'url'], ['User', 'user']], params[:type])) %>
    <%= text_field_tag(:q) %>
    <%# set the name to 'nil' to avoid the commit = Search parameter from being passed %>
    <%= submit_tag("Search", :name => nil) %>
  <% end %>

  <%# Content %>
  <%= yield %>

<%# General Site Navigation %>
<br/>
<div id="bottom_nav">
<br/>
  <center>
    <%= link_to "Home", root_path %>
    &nbsp;|&nbsp;
    <%= link_to "About", about_path %>
    &nbsp;|&nbsp;
    <%= mail_to('support@snopsize.com', 'Contact', subject: 'Support Question', encode: 'javascript') %>
  </center>
</div>

</body>
</html>
