<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Snopsize</title>
  <meta name="description" content="Snopsize ..." />
  <meta name="keywords" content="Snopsize">

  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="image_src" href="snopsize.jpg" />

  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/snopsize.css" />
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", controller_name if Snopsize::Application.assets.find_asset("#{controller.controller_name}.js")%>
  <%= csrf_meta_tags %>
</head>

<body>
  <%# Scripts for Facebook Like Button %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%# Scripts for Twitter Button %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <br>

  <%# This was recommended by devise %>
  <!-- <p class="notice"><%= notice %></p> -->
  <!-- <p class="alert"><%= alert %></p> -->

  <div class="left">
    <header>
      <div id="menu">
        <%= link_to image_tag("snopsize.png", class: "logo"), root_path %>
        <nav>
          <ul id="navigation">
            <li><%= link_to 'Create a Snop', new_snop_path, class: "create" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "My Snops", current_user, class: "mysnops" %></li>
              <li><%= link_to "Favourite Snops", user_favourites_path(current_user), class: "favourite" %></li>
              <li><%= link_to "Sign Out, " + current_user.username, destroy_user_session_path, method: :delete, class: "signin" %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path, class: "signin" %> </li>
            <% end %>
          </ul>

          <% unless user_signed_in? %>
            <div class="undernav">          
              <%= link_to "Sign Up Now!", new_user_registration_path, class: "largebutton" %>
            </div><!--close undernav; this box is required to push the button over to line up correctly-->
          <% end %>

        </nav>
      </div><!--close menu-->
    </header>

    <%# Fill in sidenav information in the view %>
    <%= yield :sidenav %>

  </div><!--close left-->

  <section>
    <div class="main">
      <div class="tools">
        <%# Search form %>
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:q, "Search:") %>
          <%= select_tag(:type, options_for_select([['Keyword', 'keyword'], ['URL', 'url'], ['User', 'user']], params[:type]), class: "drop", id: "type", name: "type") %>
          <%= text_field_tag(:q, nil, placeholder: "Enter words to search...", class: "search") %>
          <%# set the name to 'nil' to avoid the commit = Search parameter from being passed %>
          <%= submit_tag("", name: nil, class: "submit") %>
        <% end %>
      </div><!--close tools-->
  
      <%# Content %>
      <%= yield %>

    <%# Footer %>
    <footer>
      <div id="footer">
        <%= link_to "About Snopsize", about_path %>
        <%= mail_to('support@snopsize.com', 'Contact', subject: 'Support Question', encode: 'javascript') %>
        <a href="http://twitter.com/snopsize" target="_blank">Twitter</a>
        <a href="#">Dev by Tau Labs</a>
      </div><!--close footer-->
    </footer>

    </div><!--close main-->
  </section>

</body>
</html>
